<?xml version='1.0' encoding='utf-8'?>
<widget id="com.game.got.houseAllocate" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Game of Thrones</name>
    <description>
        An app to allot houses in the Game of Thrones board game.
    </description>
    <author email="sk.harpreet@gmail.com" href="">
        Harpreet Singh
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="splashscreen" value="splash" />
    <preference name="splashScreenDelay" value="5000" />
</widget>
